html {
	min-height: 100%;
	margin: 0;
	padding: 0;
	background-color: #BAC7CD;
 }
body {
	background-image: url(../img/cloudy6.jpg);
	min-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
}
main{
	position: relative;
	top: 10em;
	margin: 0;
	padding-bottom: 150px;
}

/*navigation links*/
nav li a{
	text-decoration: none;
  	background: linear-gradient(to right, orange, orange 50%, black 50%);
	background-clip: text;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	background-size: 200% 100%;
  	background-position: 100%;
  	transition: background-position 275ms ease;

}
nav li a:hover {
	background-position: 0 100%;
}

/*contact links*/
a.contact{
	font-weight: bold;
	text-decoration: none;
  	background: linear-gradient(to right, orange, orange 50%, black 50%);
	background-clip: text;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	background-size: 200% 100%;
  	background-position: 100%;
  	transition: background-position 275ms ease;
}

.contact:hover{
	background-position: 0 100%;
}

/*links*/
a.learn-more{
	text-decoration: none;
	font-weight: bold;
  	background: linear-gradient(to right, orange, orange 50%, black 50%);
	background-clip: text;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	background-size: 200% 100%;
  	background-position: 100%;
  	transition: background-position 275ms ease;
}

.learn-more:hover{
	background-position: 0 100%;
}

/*mobile*/
@media (min-width: 0em) {
	/*navigation*/
	nav{
	z-index: 1;
	background-color: #E8E8EA;
	}

	.title a {
	  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, orange 50%);
	  background-position: -5% 0;
	  background-size: 200% auto;
	  color: #fff;
	  font-size: 1.75em;
	  line-height: 1.15em;
	  text-decoration: none;
	  transition: background-position 0.5s ease-out;
	}

	/*profile*/
	.profile{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 2.5%;
	}
	.headshot{
		max-width: 60%;
		margin: auto;
	}

	.about{
		margin: 15px;
	}

	.about p, h1{
		text-align: center;
	}

	/*projects*/
	#work{
		margin: 15px;
	}

	.project {
		background-color: #E8E8EA;
		border-radius: 15px;
		padding: 10px;
		margin-bottom: 35px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.project img{
		max-width: 100%;
		grid-column-end: span 1;
		margin: auto;
	}
}


/*medium width*/
@media ( min-width: 35em) {
	/*profile*/

	.profile{
		grid-template-columns: repeat(4, 1fr);
	}
	.headshot{
		max-width: 100%;
		margin: auto;
		grid-column-start: 2;
	}

	.about{
		grid-column: 3 / 4;
		margin: 25px;
	}

	.about p{
		border-right: 7px solid;
		border-color: orange;
		text-align: right;
		padding-right: 10px;
	}

	.typewriter h1 {
		padding-right: 10px;
		color: black;
		line-height: 2.3em;
		overflow: hidden; /* Ensures the content is not revealed until the animation */
		border-right: 7px solid orange; /* The typwriter cursor */
		white-space: nowrap; /* Keeps the content on a single line */
		margin: 0 auto; /* Gives that scrolling effect as the typing happens */
		letter-spacing: .03em; /* Adjust as needed */
		animation: 
	    typing 3.0s steps(30, end),
	    blink-caret .5s step-end 7;
	}
	/* The typing effect */
	@keyframes typing {
	  from { width: 0 }
	  to { width: 100% }
	}
	/* The typewriter cursor effect */
	@keyframes blink-caret {
	  from, to { border-color: transparent }
	  50% { border-color: orange }
	}


	/*projects*/
	#work{
		margin: 30px;
	}

	.project {
		background-color: #E8E8EA;
		border-radius: 15px;
		padding: 20px;
		margin-bottom: 35px;
		grid-template-columns: repeat(2, 1fr);
	}

	.project img{
		max-width: 100%;
		grid-column: 1/2;
		margin: auto;
		padding-left: 20px;
	}

	.details{
		padding: 20px;
	}
}


	/*large screens*/
@media screen and (min-width: 70em) {
	/*navigation*/
	nav{
		background-color: transparent;
	}
	.title a:hover {
	  background-position: -99.99% 0;
	}

	.profile {
	grid-template-columns: repeat(6, 1fr );
	}
	.headshot{
	grid-column-start: 3;
	grid-column-end: span 1;
	max-width: 100%;
	}
	.about{
	grid-column-start: 4;
	grid-column-end: span 1;
	}


	/*projects*/
	#work{
		margin: 10em 13em 15em;
	}

	.project {
		background-color: #E8E8EA;
		border-radius: 15px;
		padding: 20px;
		margin-bottom: 35px;
		grid-template-columns: repeat(2, 1fr);
	}

	.project img{
		max-width: 85%;
		grid-column: 1 / 2;
		margin: auto;
		padding-left: 20px;
	}

	.details{
		padding: 40px;
	}
}