html {
	min-height: 100%;
 }
body {
	background-image: url(../img/cloudy7.jpg);
	min-width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0 auto;
	max-width: 30em;
}

@supports ( display: grid){
	body{
		margin: 0;
		max-width: inherit;
	}
}
main{
	position: relative;
	top: 10em;
	margin: 0;
}

/*navigation links*/
nav li a{
	text-decoration: none;
  	background: linear-gradient(to right, #FFDE0C, #FFDE0C 50%, black 50%);
	background-clip: text;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	background-size: 200% 100%;
  	background-position: 100%;
  	transition: background-position 275ms ease;

}
nav li a:hover {
	background-position: 0 100%;
}

/*contact links*/
a.contact{
	font-weight: bold;
	text-decoration: none;
  	background: linear-gradient(to right, #FFDE0C, #FFDE0C 50%, black 50%);
	background-clip: text;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	background-size: 200% 100%;
  	background-position: 100%;
  	transition: background-position 275ms ease;
}

a.contact:hover{
	background-position: 0 100%;
}

/*project learn more links*/
a.learn-more{
	text-decoration: none;
	font-weight: bold;
  	background: linear-gradient(to right, #FFDE0C, #FFDE0C 50%, black 50%);
	background-clip: text;
	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	background-size: 200% 100%;
  	background-position: 100%;
  	transition: background-position 275ms ease;
}

a.learn-more:hover{
	background-position: 0 100%;
}

/*footer*/
footer{
	background-color: #F3F3F3;
	padding: 4em;
	margin: 0;
	text-align: center;
}

footer img{
	width: 2em;
	margin: .5em;
}

footer img.grow {
	transition: all .2s ease-in-out;
}

footer img.grow:hover {
	transform: scale(1.5);
}

/*box shadow project tiles*/
/* All HTML you need is <div class="box"></div> */

/* Create a simple white box, and add the shadow for the initial state */
.project {
  border-radius: 5px;
  box-shadow: 0 1.5px 3.5px gray;
  transition: all 0.3s ease-in-out;
}

/* Create the hidden pseudo-element */
/* include the shadow for the end state */
.project::after {
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 3px 18px black;
  transition: opacity 0.3s ease-in-out;
}

/*mobile*/
@media (min-width: 0em) {
	/*navigation*/
	nav{
	z-index: 1;
	background-color: #FBFBFB;
	}

	.title a {
	  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #FFDE0C 50%);
	  background-position: -5% 0;
	  background-size: 200% auto;
	  color: #fff;
	  font-size: 1.75em;
	  line-height: 1.15em;
	  text-decoration: none;
	  transition: background-position 0.5s ease-out;
	}

	/*profile*/
	.profile{
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-column-gap: 2.5%;
	}
	.headshot{
		max-width: 60%;
		margin: auto;
	}

	.about{
		margin: 15px;
	}

	.about p, h1{
		text-align: center;
	}

	/*projects*/
	#work{
		margin: 15px;
	}

	.project {
		background-color: #FBFBFB;
		border-radius: 15px;
		padding: 10px;
		margin-bottom: 35px;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
	}

	.project img{
		max-width: 100%;
		grid-column-end: span 1;
		margin: auto;
	}
}


/*medium width*/
@media ( min-width: 35em) {
	/*profile*/

	.profile{
		grid-template-columns: repeat(4, 1fr);
	}
	.headshot{
		max-width: 100%;
		margin: auto;
		grid-column-start: 2;
	}

	.about{
		grid-column: 3 / 4;
		margin: 25px;
	}

	.about p{
		border-right: 7px solid;
		border-color: #FFDE0C;
		text-align: right;
		padding-right: 10px;
	}

	.typewriter h1 {
		padding-right: 10px;
		color: black;
		line-height: 2.3em;
		overflow: hidden; /* Ensures the content is not revealed until the animation */
		border-right: 7px solid #FFDE0C; /* The typwriter cursor */
		white-space: nowrap; /* Keeps the content on a single line */
		margin: 0 auto; /* Gives that scrolling effect as the typing happens */
		letter-spacing: .03em; /* Adjust as needed */
		animation: 
	    typing 3.0s steps(30, end),
	    blink-caret .5s step-end 7;
	}
	/* The typing effect */
	@keyframes typing {
	  from { width: 0 }
	  to { width: 100% }
	}
	/* The typewriter cursor effect */
	@keyframes blink-caret {
	  from, to { border-color: transparent }
	  50% { border-color: #FFDE0C }
	}


	/*projects*/
	#work{
		margin: 30px;
	}

	.project {
		border-radius: 15px;
		padding: 20px;
		margin-bottom: 35px;
		grid-template-columns: repeat(2, 1fr);
	}

	.project img{
		max-width: 100%;
		grid-column: 1/2;
		margin: auto;
		padding-left: 20px;
	}

	.details{
		padding: 20px;
	}

	/*projects - box shadow hover effect*/
	/* Scale up the box */
	.project:hover {
	  transform: scale(1.05, 1.05);
	}

	/* Fade in the pseudo-element with the bigger shadow */
	.project:hover::after {
	  opacity: 1;
	}
}


	/*large screens*/
@media screen and (min-width: 70em) {
	/*navigation*/
	nav{
		background-color: transparent;
	}
	.title a:hover {
	  background-position: -99.99% 0;
	}

	.profile {
	grid-template-columns: repeat(6, 1fr );
	}
	.headshot{
	grid-column-start: 3;
	grid-column-end: span 1;
	max-width: 100%;
	}
	.about{
	grid-column-start: 4;
	grid-column-end: span 1;
	}


	/*projects*/
	#work{
		margin: 10em 13em 15em;
	}

	.project {
		border-radius: 15px;
		padding: 20px;
		margin-bottom: 35px;
		grid-template-columns: repeat(2, 1fr);
	}

	.project img{
		max-width: 85%;
		grid-column: 1 / 2;
		margin: auto;
		padding-left: 20px;
	}

	.details{
		padding: 40px;
	}
}