 body, html{
	min-height: 100%;	
	background-image: url(../img/star.jpg);
	background-size: cover;
	background-repeat: no-repeat;

}

header h1{
	width: 100%;
	font-size:8em;
  	color: white;
  	top: 3em;
  	position: absolute;
  	z-index: 1;
  	text-transform: uppercase;
	text-align: center;	
}
