nav{
	z-index: 1;
}

/*logo effect*/
 nav h2{
  display: table-cell;
  font-weight: 700;
  text-transform: uppercase;
  vertical-align: middle;
}
.title a {
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, 
#FF7800 50%);

  	/*#E8FAFF 50%);*/
  background-position: -5% 0;
  background-size: 200% auto;
  color: #fff;
  font-size: 1.75em;
  line-height: 1.15em;
  text-decoration: none;
  transition: background-position 0.5s ease-out;
}
.title a:hover {
  background-position: -99.99% 0;
}


nav li a {
  background-image: linear-gradient(to right, rgba(255,255,255,0) 50%, #E8FAFF 50%);
  background-position: 0% -5;
  background-size: 200% auto;
  color: #fff;
  text-decoration: none;
  transition: background-position 0.5s ease-out;
}
nav li a:hover {
  background-position: -99.99% 0;
}

